*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background: #1a0014;
  color: #fff;
}

.container{
  width: 90%;
  max-width: 900px;
  margin: 10px auto;
}

h1{
  text-align: center;
  margin-bottom: 15px;
  color: #f8d7e6;
}

.subtitle{
  text-align: center;
  color: #d8a7c4;
  margin-bottom: 25px;
}

.code-input{
  width: 100%;
  height: 250px;
  padding: 15px;
  border: 2px solid #6d214f;
  border-radius: 16px;
  background: #2a0a1f;
  color: white;
  resize: none;
  font-size: 15px;
  outline: none;
}

.code-input:focus{
  border-color: #b33771;
  box-shadow: 0 0 20px rgba(179,55,113,0.5);
}

.review-btn{
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 16px;
  background: linear-gradient(
    135deg,
    #7b1e4a,
    #b33771
  );
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.review-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(179,55,113,0.6);
}

.output-box{
  margin-top: 20px;
  min-height: 250px;
  background: #2a0a1f;
  border: 2px solid #6d214f;
  border-radius: 16px;
  padding: 20px;
  white-space: pre-wrap;
  overflow-x: auto;
  line-height: 1.7;
}